<h1>Products</h1>
<%= link_to 'Home', root_path %>
<%= link_to 'New Product', new_product_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Short Name </th>
  <tr>
<% @products.each do |p| %>
  <tr>
    <td><%= p.name %></td>
    <td><%= p.short_name %></td>
  </tr>
<% end %>
</table>
